<html>

<head>
    <title>Google Cloud Event Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


    <link rel="stylesheet" href="styles.css">

    <script src="data.js"></script>
</head>

<body>


    <div class="app" id="app">
        <div class="top">

            <div class="video_header">

                <div class="header">
                    <img src="Google-Cloud-Logo.png" style="height:100px; margin:50px;"></img>

                </div>

                <div class="video">

                    <video src="Leading companies build with generative AI on Google Cloud.mp4" autoplay loop
                        muted></video>

                </div>

            </div>


            <div class="schedule">

                <h1 style="color: #545454; text-align: center;">Sessions to check out... </h1>


                <div class="event_container" v-for="event in sorted_events"
                    :class="{finished:event.status=='finished'}">

                    <div class="status">

                        <div :class="[event.status]" class="status_box">
                            <p v-if="event.status=='soon'">In {{event.mins_to_event}} mins</p>
                            <p v-else>{{event.status}}</p>
                        </div>

                    </div>

                    <div class="event" :class="{flash: event.status == 'now'}">

                        <div class="profile">
                            <img :src="event.profile.profile_img">
                        </div>

                        <div class="info">
                            <p class="event_name"> {{event.event_name}} </p>
                            <p class="name"><span class="material-symbols-outlined">
                                    person
                                </span> {{event.profile.name}} &nbsp&nbsp
                                <span class="material-symbols-outlined">
                                    location_on
                                </span> {{event.location}}
                            </p>
                            <p class="time"><span class="material-symbols-outlined">
                                    festival
                                </span> {{event.type}} &nbsp&nbsp
                                <span class="material-symbols-outlined">
                                    schedule
                                </span> {{event.start_time}} - {{event.end_time}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="footer">
            <h3> Come to our suite to <span class="google_blue">talk to our experts</span> and see our <span
                    class="google_blue">live demos</span>.</h3>

        </div>
    </div>



    <script>



        const { createApp } = Vue

        const app = createApp({
            data() {
                return {
                    events: events
                }
            },
            computed: {
                sorted_events() {
                    console.log(this.events)
                    return [...this.events].sort(compareStartTime);
                }
            }
        }).mount('#app')


        // Custom comparator function
        function compareStartTime(a, b) {
            const timeA = new Date();
            const [hoursA, minutesA] = a.start_time.split(':');
            timeA.setHours(hoursA);
            timeA.setMinutes(minutesA);

            const timeB = new Date();
            const [hoursB, minutesB] = b.start_time.split(':');
            timeB.setHours(hoursB);
            timeB.setMinutes(minutesB);

            return timeA - timeB;
        }


        function calculateMinutesToTime(localTime) {
            const now = new Date();
            const [hours, minutes] = localTime.split(':');

            const targetTime = new Date(now.getFullYear(), now.getMonth(), now.getDate(), hours, minutes);

            const timeDiff = (targetTime.getTime() - now.getTime()) / 60000;
            const minutesDiff = Math.round(timeDiff);

            return minutesDiff;
        }


        function runCodeEveryMinute() {
            // Your code to be executed every minute goes here
            console.log("This code runs every minute!");

            app.events.forEach(event => {

                const start_mins_diff = calculateMinutesToTime(event.start_time)
                event.mins_to_event = start_mins_diff
                const end_mins_diff = calculateMinutesToTime(event.end_time)

                if (end_mins_diff <= 0) {
                    event.status = 'finished'
                } else if (start_mins_diff <= 5) {
                    event.status = 'now'
                } else if (start_mins_diff < 60) {
                    event.status = 'soon'
                } else {
                    event.status = 'later'
                }


            })
        }

        setInterval(runCodeEveryMinute, 1 * 1000);

    </script>


</body>

</html>